<!DOCTYPE html>
<html>
<head>
	<title>Tweegeon-It fetches any User's Tweets</title>
	<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div class="header-wrapper">
			<h1>TWEEGEON</h1><h2>--It fetches any User's Tweets</label>
		</div>
	</header>
	<div class="container">
		<div class="input-container txt-center">
			<%= form_tag(tweegeonctlr_index_path, method: "get") do %>
			  <%= label_tag("Username/Screen name :") %>
			  <%= text_field "user", "name", :class=>'txt-box' %>
			  <%= submit_tag("Get Tweets",:class=>'btn') %>
			<% end %>
		</div>
		<%if @tweets.to_s != '' %>
			<ul class="tweets-container">
				<% @tweets.each do |tweet| %>
					<li class="tweet"><%= image_tag(tweet.user.profile_image_url)%><span class="tweet-data"><%= label_tag(tweet.text) %><%= link_to tweet.user.screen_name , "https://www.twitter.com/#{tweet.user.screen_name}" %></span></li>
				<% end %>
			</ul>
		<% else %>
			<h3 class="txt-center warning">Please Enter Valid username to retrieve Tweets</h3>
		<% end %>
	</div>
</body>
</html>