<header>
	<div class="header-wrapper container-fluid">
		<h1 class="text-center"><a href="https://tweegeon.herokuapp.com">TWEEGEON</a></h1>
	</div>
</header>
<div class="container-fluid">
	<div class="input-container txt-center container-fluid">
		<%= form_tag(tweegeonctlr_index_path, method: "get") do %>
			<span class="col-md-1"></span>
			<span class="col-md-3 col-sm-4 col-xs-12 text-center"><%= label_tag("Enter Twitter Username :") %></span>
			<span class="col-md-4 col-sm-4 col-xs-12 text-center"><%= text_field "user", "name", :class=>'txt-box', :autofocus=>true %></span>
			<span class="col-md-3 col-sm-3 col-xs-12 text-center"><%= submit_tag("Get Tweets",:class=>'btn',:id=>'sub') %></span>			 
			<span class="col-md-1"></span>
		<% end %>
	</div>
	<%if @tweets.to_s != '' %>
		<ul class="tweets-container container-fluid ">
			<% @tweets.each do |tweet| %>
				<li class="tweet col-md-12 col-sm-12 col-xs-12"><%= image_tag(tweet.user.profile_image_url)%><span class="tweet-data"><%= label_tag(tweet.text) %><%= link_to tweet.user.screen_name , "https://www.twitter.com/#{tweet.user.screen_name}" %></span>
				</li>
			<% end %>
		</ul>
	<% else %>
		<h3 class="txt-center wn col-md-12 col-sm-12 col-xs-12">Welcome to Tweegeon. Please enter any twitter username to retrieve recent tweets</h3>
		<% if @response != '' %>
			<h3 class="txt-center warning col-md-12 col-sm-12 col-xs-12"><%= @response %></h3>
		<% end %>
	<% end %>
<footer>
	<div class="container-fluid footer-wrapper text-center">
		<p>This Site is developed by <a href="https://github.com/rtvalluri">Raviteja Valluri</a></p>
	</div>
</footer>
</div>
